<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>LIST APP</title>
  <meta name="viewpoint" content="width=device-width">
  <link rel="stylesheet" href="/css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<bod>

</bod>
