<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>LIST APP</title>
  <meta name="viewpoint" content="width=device-width">
  <link rel="stylesheet" href="/css/style-top.css">
  <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Paytone+One' type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kosugi+Maru&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  　　
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&family=M+PLUS+Rounded+1c:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Varela+Round&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
    <div class="box1">
      <div class="title-logo"><i class="fas fa-apple-alt"></i>MY LIST APP</div>
      </div>
    <div class="boxA">
      <div class="box2 task">
        <a href="/task-top" class="btn btn-task">Task</a>
      </div>
      <div class="box2 money">
        <a href="/money-top" class="btn btn-money">Money</a>
      </div>
      <div class="box2 Calendar">
        <a href="/calendar-top" class="btn btn-Calendar">Calendar</a>
      </div>
      <div class="box2 health">
        <a href="/health-top" class="btn btn-health">Health</a>
      </div>
    </div>
    <div class="boxB">
      <div class="sumple">

      </div>
      <div class="schedule-top">

      </div>

      <div class="schedule-body"></div>

    </div>
  <script src="/script/script-top.js">

  </script>
</body>

</html>
